<%= link_to "Back", cocktails_path, class: "btn btn-primary" %>

<h1><%= @cocktail.name %></h1>



<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

<div class="container">
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"><%= dose.description %> <%= dose.ingredient.name %></li>
    <%= link_to "Remove", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>
<% if @cocktail.photo.present? %>
  <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill %>
<% else %>
  <%= image_tag 'no-image.jpg', width: 400 %>
<% end %>
</div>
<%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
